### 개요
- 데이터: 2018년 1월 1일 ~ 2021년 1월 1일의 코스피 데이터
- 검증 내용: 단일 패턴이 등장한 다음 날 매수하여 10, 20, 60 영업일 동안 보유했을 때의 수익률 비교
- 대상 패턴: 망치형, 역망치형, 잠자리형

In [1]:
from qspy import datasets
import pandas as pd
stock_list = datasets.load_stock_list(market = "KOSPI")
stock_list = stock_list.loc[stock_list['ListingDate'] < pd.to_datetime("2018-01-01")]

In [2]:
data_list = datasets.load_stock_data_list(stock_list["Symbol"],
                                          start_date = "2018-01-01",
                                          end_date = "2021-01-01",
                                          download = False)

In [3]:
data_list = [data.loc[data['Low'] != 0].reset_index(drop = True) for data in data_list]

In [4]:
from qspy.analysis.candle_pattern import *
from qspy.validation import ror_buy_and_hold
import numpy as np

In [5]:
def calc_ror_buy_and_hold_after_patt(data, pattern_func, period):
    patt_arr = pattern_func(data)
    buy_arr = np.insert(patt_arr[1:], -1, False)
    result = ror_buy_and_hold(data = data, period = period, buy_arr = buy_arr)
    return result

### n = 10

In [6]:
hammer_ror_list = []
inverted_hammer_ror_list = []
dragon_fly_doji_ror_list = []

In [7]:
period = 10
for data in data_list:
    hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, hammer, period)
    inverted_hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, inverted_hammer, period)
    dragon_fly_doji_ror_list += calc_ror_buy_and_hold_after_patt(data, dragon_fly_doji, period)

In [8]:
result = pd.concat([pd.Series(hammer_ror_list).describe(),
                    pd.Series(inverted_hammer_ror_list).describe(),
                    pd.Series(dragon_fly_doji_ror_list).describe()], axis = 1)

result.columns = ["망치형", "역망치형", "잠자리형"]
display(result.round(3))

             망치형       역망치형      잠자리형
count  29573.000  50073.000  2629.000
mean       0.023      0.022     0.003
std        0.113      0.104     0.109
min       -0.635     -0.559    -0.525
25%       -0.025     -0.026    -0.029
50%        0.006      0.010    -0.006
75%        0.047      0.055     0.015
max        2.870      1.954     2.429

### n = 20

In [9]:
hammer_ror_list = []
inverted_hammer_ror_list = []
dragon_fly_doji_ror_list = []

In [10]:
period = 20
for data in data_list:
    hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, hammer, period)
    inverted_hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, inverted_hammer, period)
    dragon_fly_doji_ror_list += calc_ror_buy_and_hold_after_patt(data, dragon_fly_doji, period)

In [11]:
result = pd.concat([pd.Series(hammer_ror_list).describe(),
                    pd.Series(inverted_hammer_ror_list).describe(),
                    pd.Series(dragon_fly_doji_ror_list).describe()], axis = 1)

result.columns = ["망치형", "역망치형", "잠자리형"]
display(result.round(3))

             망치형       역망치형      잠자리형
count  29156.000  49659.000  2598.000
mean       0.027      0.026    -0.001
std        0.160      0.153     0.139
min       -0.743     -0.627    -0.630
25%       -0.043     -0.045    -0.046
50%        0.004      0.008    -0.008
75%        0.064      0.074     0.026
max        3.807      3.926     3.715

### n = 60

In [12]:
hammer_ror_list = []
inverted_hammer_ror_list = []
dragon_fly_doji_ror_list = []

In [13]:
period = 60
for data in data_list:
    hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, hammer, period)
    inverted_hammer_ror_list += calc_ror_buy_and_hold_after_patt(data, inverted_hammer, period)
    dragon_fly_doji_ror_list += calc_ror_buy_and_hold_after_patt(data, dragon_fly_doji, period)

In [14]:
result = pd.concat([pd.Series(hammer_ror_list).describe(),
                    pd.Series(inverted_hammer_ror_list).describe(),
                    pd.Series(dragon_fly_doji_ror_list).describe()], axis = 1)

result.columns = ["망치형", "역망치형", "잠자리형"]
display(result.round(3))

             망치형       역망치형      잠자리형
count  27464.000  47373.000  2474.000
mean       0.024      0.030    -0.012
std        0.252      0.262     0.195
min       -0.896     -0.845    -0.814
25%       -0.100     -0.104    -0.097
50%       -0.013     -0.009    -0.027
75%        0.091      0.105     0.033
max        6.446      5.145     2.728